html {
  font-size: calc(100vw / 3.75);
}
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-size: .24rem;
}
input, button, select {
  outline: none;
}
/* 弹性布局公共样式 */
.flex-x-center {
  display: flex;
  justify-content: center;
}
.flex-y-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-x-space-around {
  display: flex;
  justify-content: space-around;
}
