html {
  font-size: calc(200vw / 7.5);
}
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-size: .24rem;
}
input, button, select {
  outline: none;
}
/* Header组件样式 */
.HeaderComponent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: .45rem;
  border-bottom: 1px solid #DBDBDB;
}
.HeaderComponent .back {
  position: absolute;
  left: 0;
  width: .3rem;
  text-align: center;
  font-size: 0;
}
.HeaderComponent .back img {
  width: .1rem;
}
.HeaderComponent .title {
  font-size: .18rem;
}
