.home {
  background-color: #f7f2f2;
  .search {
    position: relative;
    z-index: 2;
    height: .5rem;
    padding-top: .2rem;
    text-align: center;
    background-image: linear-gradient(rgb(44, 54, 99), rgb(71, 87, 150));
    input {
      padding: 0 .15rem;
      width: 2.5rem;
      height: .3rem;
      border: none;
      border-radius: .15rem;
      background-color: rgba(200, 200, 200, .2);
      text-align: center;
    }
    input::-webkit-input-placeholder {
      color: rgb(200, 200, 200);
    }
    & > i {
      position: absolute;
      right: calc((100vw - 2.4rem) / 2);
      color: rgb(200, 200, 200);
      font-size: .22rem;
    }
    button {
      margin-left: .1rem;
      margin-right: -.2rem;
      background-color: transparent;
      border: none;
      color: #f7f2f2;
      i {
        font-size: .3rem;
      }
    }
  }
}